@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 25 71% 15%;
    --card: 60 56% 96%;
    --card-foreground: 25 71% 15%;
    --popover: 60 56% 96%;
    --popover-foreground: 25 71% 15%;
    --primary: 45 74% 52%;
    --primary-foreground: 25 71% 15%;
    --secondary: 60 30% 85%;
    --secondary-foreground: 25 71% 15%;
    --muted: 60 30% 85%;
    --muted-foreground: 25 40% 35%;
    --accent: 25 71% 31%;
    --accent-foreground: 60 56% 91%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 25% 81%;
    --input: 60 25% 86%;
    --ring: 45 74% 52%;
    --radius: 0.5rem;
    --chart-1: 45 74% 52%;
    --chart-2: 25 71% 31%;
    --chart-3: 60 30% 85%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
 
  .dark {
    --background: 25 15% 10%;
    --foreground: 60 30% 90%;
    --card: 25 15% 15%;
    --card-foreground: 60 30% 90%;
    --popover: 25 15% 10%;
    --popover-foreground: 60 30% 90%;
    --primary: 45 74% 52%;
    --primary-foreground: 25 71% 15%;
    --secondary: 25 15% 25%;
    --secondary-foreground: 60 30% 90%;
    --muted: 25 15% 25%;
    --muted-foreground: 60 20% 65%;
    --accent: 45 60% 65%;
    --accent-foreground: 25 15% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 25 15% 25%;
    --input: 25 15% 25%;
    --ring: 45 74% 52%;
    --chart-1: 45 74% 52%;
    --chart-2: 45 60% 65%;
    --chart-3: 25 15% 25%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
